header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: rgba(43, 53, 148, 0.8);
    //  
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    //   
    @include box_shadow_bottom;
    height: 78px;
    @include max-responsive($sm) {
        height: 69px;
    }
    .logo {
        padding-top: 10px;
        text-align: center;
        //margin: auto;
        img {
            max-width: 110%;
            @include max-responsive($sm) {
                max-width: 135%;
            }
        }
        @include range-responsive(1000px, 1200px) {
            width: 140px;
        }
        @include max-responsive($sm) {
            max-width: 120px;
        }
    }
    .navigation {
        @include max-responsive($md) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            @include transition_slow(all);
            @include base_position_y(-110%);
            @include box_shadow;
            background: $blue;
            //@include bg-gradient-2;
        }
        @include min-responsive($lg) {
            display: block;
        }
        &.show-menu {
            @include base_position_y(0%);
            padding-top: 50px;
            padding-bottom: 30px;
            overflow: scroll;
        }
        ul.menu {
            float: left;
            @include max-responsive($md) {
                float: none;
                margin: 0px;
            }
            li {
                display: inline-block;
                margin: 0px 1px;
                position: relative;
                @include range-responsive(993px, 1200px) {
                    margin: 4px;
                }
                @include max-responsive($md) {
                    display: block;
                    text-align: left;
                    padding: 0px;
                }
                &.line a {
                    &::before {
                        content: '';
                        position: absolute;
                        right: -8px;
                        top: 10px;
                        height: 12px;
                        background: #fff;
                        width: 1px;
                    }
                }
                &.active a {
                    //border-bottom: 5px solid $gold;
                    color: #fff;
                    border-bottom: 2px solid #fff;
                    @include max-responsive($md) {
                        border-bottom: 0px solid $white;
                        color: $gold;
                    }
                }
                &:hover a {
                    border-bottom: 2px solid $gold;
                    color: $gold;
                    @include max-responsive($md) {
                        border-bottom: 0px solid $white;
                        color: $gold;
                    }
                }
                a {
                    padding: 6px 0px;
                    display: inline-block;
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 20px;
                    margin-right: 10px;
                    margin-left: 10px;
                    text-transform: uppercase;
                    color: $white;
                    position: relative;
                    @include transition_slow(all);
                    @include max-responsive($md) {
                        border-bottom: 0px solid $white;
                        color: $white;
                        margin-top: 13px;
                        // padding: 15px;
                        background: transparent;
                        /* border-bottom: 1px solid #313131; */
                        display: block;
                        width: 100%;
                        text-transform: capitalize;
                        text-align: center;
                        font-size: 15px;
                    }
                    @include range-responsive(993px, 1200px) {
                        font-size: 13px;
                        padding: 27px 3px;
                    }
                }
                &:hover {
                    .dropdown {
                        display: block;
                    }
                }
                .dropdown {
                    position: relative;
                    display: none;
                    top: 4px;
                    li {
                        display: block;
                        margin: 0px;
                        a {
                            margin-top: 0px;
                            padding: 10px;
                            color: #FFFFFF;
                            background: $blue;
                            display: block;
                            border-bottom: 0px;
                            &::before {
                                content: '';
                                position: absolute;
                                right: -8px;
                                top: 10px;
                                height: 12px;
                                background: transparent;
                                width: 2px;
                            }
                            &:hover {
                                background: $lightblue;
                            }
                        }
                    }
                }
            }
        }
    }
    .social__media {
        float: right;
        margin: 16px;
        @include max-responsive($md) {
            float: none;
            text-align: center;
        }
        li {
            padding: 0px 5px;
        }
    }
    .menu__mobile {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 9999;
        /* Icon 1 */
        #nav-icon1 {
            width: 30px;
            height: 45px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            &.open span {
                background: $white;
            }
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $white;
                border-radius: 0px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                -o-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 10px;
                }
                &:nth-child(3) {
                    top: 20px;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        top: 10px;
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        transform: rotate(135deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }
                    &:nth-child(3) {
                        top: 10px;
                        -webkit-transform: rotate(-135deg);
                        -moz-transform: rotate(-135deg);
                        -o-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }
}


/* .show-menu{
    @include base_position(0%);
} */

.fixed-position {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}